body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  color: black;
  font-family: Arial Black, sans-serif;
  /* font-variant: small-caps; */
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/* footer {
  padding-top: 1rem;
  text-align: center;
} */

/* .description {
  text-align: center;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
} */

.submission-form {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

textarea {
  margin: auto;
  outline: none;
  resize: none;
  text-align: left;
  font-family: sans-serif;
}

button {
  padding: 10px;
  font-weight: 600;
}

.results-list {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

dt {
  font-weight: bold;
}

.button-container {
  text-align: center;
}

/* .results-container {
  text-align: center;
  color: white;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
} */
