<!DOCTYPE html>
<html>
<head>
	<title>Course Recommender</title>
</head>

<body>

	<header>
		<h1>Course Recommender for Professional Development</h1>
	</header>

	<main>
		<p>
			Which courses should you take to help you land your dream job? Course recommender will make a few suggestions.
		</p>

		<form action="/submit">
			<p>
				<label for="JobDesc">Submit a job description:</label><br>
				<textarea name="JobDesc" placeholder="Your job description..."></textarea>
			</p>
			<p><button type="submit">Submit</button></p>
		</form>
	</main>

	<footer>
		created by Brooks Jessup
	</footer>

</body>
</html>
