<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Career Course Recommender</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<main>
		<section class="submission-form">
			<div class="submission-container">
				<h1>Career Course Recommender</h1>
				<form action="/submit">
					<p><textarea name="JobDesc" placeholder="Enter a job description..." rows="10" cols="50" required></textarea></p>
					<p><button type="submit">Submit</button></p>
				</form>
			</div>
		</section>
	</main>
</body>
</html>
